RewriteEngine On
RewriteRule ^login?$ index.php
RewriteRule ^sell?$ sellproduct.php
RewriteRule ^products?$ allproducts.php
RewriteRule ^addproduct?$ addproduct.php
RewriteRule ^addbrand?$ addbrand.php
RewriteRule ^addsize?$ addsize.php
RewriteRule ^addcategory?$ addcategory.php
RewriteRule ^addlocation?$ addlocation.php
RewriteRule ^salestoday?$ salestoday.php
RewriteRule ^salesall?$ salesall.php
RewriteRule ^productsnotice?$ productsnotice.php
RewriteRule ^expiredproducts?$ expiredproducts.php
RewriteRule ^expiringproducts?$ expiringproducts.php
RewriteRule ^addproductsinfo?$ addproductsinfo.php
RewriteRule ^seller?$ seller.php
RewriteRule ^addseller?$ addseller.php
RewriteRule ^sellers?$ sellers.php
RewriteRule ^productsrecord?$ productsrecord.php
RewriteRule ^editproduct?$ editproduct.php
RewriteRule ^selltoseller?$ selltoseller.php
RewriteRule ^invoice?$ invoice.php
RewriteRule ^payment?$ payment.php
RewriteRule ^invoices?$ invoices.php
RewriteRule ^credit?$ credit.php
RewriteRule ^credits?$ credits.php
RewriteRule ^creditors?$ creditors.php
RewriteRule ^changepassword?$ changepassword.php
RewriteRule ^admins?$ admins.php
RewriteRule ^addadmin?$ addadmin.php
RewriteRule ^settings?$ settings.php
RewriteRule ^dashboard?$ dashboard.php